.megbox{position: absolute;background-color: #FFF;border: 1px solid #a4acb5;padding: 5px 10px;border-radius: 4px;z-index: 100;}
.megbox_top{width: 13px;height: 7px;position: absolute;background: url(./images/up.gif) no-repeat;top: -7px;}
.megbox_meg{padding-left: 25px;background: url(./images/warning.gif) no-repeat;line-height: 20px;overflow: hidden;}
.megbox_txt{}